name: Test
on:
  pull_request:
    branches:
      - next
  push:
    branches:
      - next
jobs:
  runner-job:
    runs-on: ubuntu-latest
    env:
      NODE_ENV: production

    strategy:
      matrix:
        node-version: [18.x, 20.x, 22.x]

    name: Node.js ${{ matrix.node }}

    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v4
        with:
          version: 9
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: "pnpm"
      - name: Install deps
        run: pnpm install --frozen-lockfile
      - name: Linting
        run: pnpm lint
      - name: Test
        run: pnpm test